@use "./partials/variables" as *;
@import "~bootstrap/scss/bootstrap";


// login
#intro {
    background-color: #000000;
    height: 100vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}

// navbar
.logo_deliveboo {
    width: 120px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none
}

.navbar-toggler:focus-visible {
    border: none;
}

:focus-visible::-moz-focus-inner {
    border: none;
}

.mt-6 {
    margin-top: 70px;
}