@use "./partials/variables" as *;
@import "~bootstrap/scss/bootstrap";

.guest-header {
    height: 70px;
}

#intro {
    background-color: #000000;
    min-height: 600px;
}

// navbar
.logo_deliveboo {
    width: 120px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none
}

.navbar-toggler:focus-visible {
    border: none;
}

:focus-visible::-moz-focus-inner {
    border: none;
}

.mt-6 {
    margin-top: 70px;
}

.pt-6 {
    padding-top: 300px;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

// media query
@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

@media (min-width: 991.98px) {
    main.dashboard {
        padding-left: 240px;
    }
}

// @media (min-width: 992px) {
//     #intro {
//         margin-top: -58.59px;
//     }
// }