@use "./partials/variables" as *;
@import "~bootstrap/scss/bootstrap";

.profile-img {
    height: 50px;
}

.dashboard {
    margin-top: 65px;
}

.header-guest {
    align-items: center;
    height: 70px;
    margin-bottom: 60px;
}

// navbar
.logo_deliveboo {
    width: 120px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none
}

.navbar-toggler:focus-visible {
    border: none;
}

:focus-visible::-moz-focus-inner {
    border: none;
}

.wrapper {
    margin-bottom: 1rem;
    height: calc(100vh - 130px - 72px - 1rem);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
}

.footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.footer a {
    color: black;
}

@media (min-width: 991px) {
    main.dashboard {
        padding-left: 240px;
    }
}

// media query
@media (max-width: 991px) {
    .wrapper {
        margin-bottom: 1rem;
        height: calc(100vh - 130px - 72px - 1rem);
        min-height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main.dashboard {
        padding-left: 0px;
    }
}

@media (max-width: 576px) {
    .header-guest {
        margin-bottom: 20px;
    }

    .wrapper {
        height: calc(100vh - 100px - 72px - 1rem);
        min-height: 700px;
    }

    .fs-small {
        font-size: .8rem;
    }

    .circle {
        padding: 5px 5px !important;
        border-radius: .5rem;
    }
}