.bg-team1 {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(40, 173, 173, 1) 0%, rgba(40, 173, 173, 1) 47%, rgb(14, 107, 115) 94%);
}

.btn-primary{
    background-color: rgb(40, 173, 173) !important;
    border-color: rgb(40, 173, 173) !important;
}